.avatar-circle {
    box-sizing: border-box;
    border-radius: 100%;
    border-style: solid;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-width: 0.01em;
    border-color: #ffffff;
}