@import url('https://fonts.googleapis.com/css?family=Montez');
.tag-card {
    width:150px;
    margin-top: 10px;
}
.image-card{
    background-image: url('/assets/img/gray-blank.png');
    height:100px;
    text-align: center;
    line-height: 100px;
    font-family: 'Montez', cursive;
    font-size: 30px;
}
.card-title a{
    font-size:15px;
    color: currentColor;
    text-decoration-line: none;
}