<form [formGroup]="formSignIn" novalidate (ngSubmit)="onSubmit()">
    <!-- EMAIL -->
    <mat-form-field class="input-signin">
        <input matInput placeholder="email"  formControlName="email" required>
        <mat-error *ngIf="formSignIn.get('email').errors?.pattern">
            nhập đúng email
        </mat-error>
    </mat-form-field>
    <!-- PASSWORD -->
    <mat-form-field class="input-signin">
        <input matInput type="password" placeholder="password"  formControlName="password" required>
        <mat-error *ngIf="formSignIn.get('password').errors?.pattern">
            password phải có ít nhất 8 ký tự và ít nhất 1 số hoặc chữ
        </mat-error>
    </mat-form-field>
    <!-- SUBMIT -->
    <button type="submit"[disabled]="disableButton" mat-raised-button color="primary">
        <div  fxLayout="row" fxLayoutAlign="start center">
            <mat-progress-spinner #spinner style="width:25px;height: 25px;" *ngIf="disableButton"
            [strokeWidth] ="3"
            [diameter]="25"
            [color]="'primary'"
            [mode]="disableButton?'indeterminate':'determinate'"
            [value]="50"
            >
            </mat-progress-spinner>
            Đăng nhập
        </div>
    </button>
</form>
      