<app-navbar></app-navbar>
<app-page-body></app-page-body>

<!-- simple button-progress-spninner -->
<!-- <button md-button color="primary" (click)="mode = mode == 'indeterminate'?'determinate':'indeterminate'">
    <div fxLayout="row" fxLayoutAlign="center center" >
        <md-progress-spinner #spinner style="width:25px;height: 25px;" *ngIf="mode=='indeterminate'"
            class="example-margin"
            [color]="'primary'"
            [mode]="mode"
            [value]="50"
            >
        </md-progress-spinner>
        Đăng bài
    </div>
</button> -->