<div fxLayout="row" class="post-detail">
  <div fxFlex="2"></div>
  <div *ngIf="!post?.content">
      Loading...
  </div>
  <div *ngIf="post?.content" fxFlex="85" class="font-detail">
      <div class="content-post">
        <section [innerHTML]="post.content" highlight-js-content=".highlight"></section>
        <div fxLayout="column-reverse" fxLayoutAlign="center end">
          <strong>Author {{post.user.name}}</strong>
        </div>
      </div>
      <hr>
      <h3>Comments</h3>
      <app-list-comment [postId]="postId" [comments]="post?.comment"></app-list-comment>
  </div>
  <div fxFlex></div>
</div>