<mat-toolbar color="primary" [ngClass]="{'header-toolbar-fixed': fixedTopNav, 'header-toolbar': !fixedTopNav}">
    <button mat-button routerLink="/" fxShow="false" fxShow.gt-sm class="name-application">
    Application</button>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/products">Bài viết hay</button>
        <button mat-button [mat-menu-trigger-for]="menuseries">Series</button>
    </div>
    <span class="fill-spacer"></span>
    <!-- space -->
    <div *ngIf="!isLogin" fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/signin" fxShow="false" fxShow.gt-sm>
            Đăng nhập
        </button>
    </div>
    <div *ngIf="isLogin" fxLayout="row" fxShow="false" fxShow.gt-sm>
        <app-avatar></app-avatar>
        <button mat-button [mat-menu-trigger-for]="menuuser" fxShow="false" fxShow.gt-sm class="button-user">
            {{userService.email}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </div>
    <button *ngIf="isLogin" mat-button [mat-menu-trigger-for]="menumainwithuser" fxHide="false" fxHide.gt-sm>
        <mat-icon>more_vert</mat-icon>
    </button>
    <button *ngIf="!isLogin" mat-button [mat-menu-trigger-for]="menumain" fxHide="false" fxHide.gt-sm>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu x-position="before" #menumain="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/">Bài viết hay</button>
        <button mat-menu-item [mat-menu-trigger-for]="menuseries">Series</button>
        <button mat-menu-item routerLink="/signin">Đăng nhập</button>
    </mat-menu>
    <mat-menu x-position="before" #menumainwithuser="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/">Bài viết hay</button>
        <button mat-menu-item  [mat-menu-trigger-for]="menuseries">Series</button>
        <button mat-menu-item [mat-menu-trigger-for]="menuuser">{{userService.email}}</button>
    </mat-menu>
    <mat-menu x-position="before" #menuuser="matMenu">
        <button mat-menu-item routerLink="/"><mat-icon>info</mat-icon>Thông tin cá nhân</button>
        <button mat-menu-item routerLink="/post-of-user/{{userService.id}}"><mat-icon>code</mat-icon>Bài viết của tôi</button>
        <button mat-menu-item routerLink="/create-post"><mat-icon>create</mat-icon>Tạo bài viết</button>
        <button mat-menu-item (click)="logout()"><mat-icon>subdirectory_arrow_left</mat-icon>Đăng xuất</button>
    </mat-menu>
    <mat-menu x-position="before" #menuseries="matMenu">
        <button *ngFor="let item of series" mat-menu-item routerLink="/post-of-series/{{item.name}}/{{item.id}}">{{item.name}}</button>
    </mat-menu>
</mat-toolbar>
<!-- MENU  -->

    

