<mat-list>
  <mat-list-item *ngFor="let item of list">
    <img matListAvatar [src]="avatarURL+item.user?.avatar" alt="...">
    <h3 matLine><a class="header-series" routerLink="/post-of-series/{{item.name}}/{{item.id}}">{{item.name}}</a></h3>
    <p matLine>
      <span class="author-series">Tác giả {{item.user?.name}} </span><br>
      <span class="time-series">Được tạo vào lúc {{item.created_at}} </span>
    </p>
    <span class="fill-remaining-space"></span>
    <div title="số lượng bài viết"><p>{{item.postnumber}}</p></div>
  </mat-list-item>
</mat-list>